##
## REPOSITORY
##
.env
.env.local


##
## GO
##
coverage.out


##
## GIT
##
.githooks/
.gitignore

# git-secret:
.gitsecret/
*.secret


##
## DOCKER
##
.dockerignore


##
## MISC
##
.editorconfig
README.md


##
## SYS
##
# macOS:
.DS_Store
.DS_Store?
*.swp

# Windows:
Thumbs.db

# VSCode:
.vscode/*

# IntelliJ:
.idea/
