##
## REPO
##
debug
.env.local
vaingogh.yaml

# Secrets:
.gitsecret/keys/random_seed
.env

# Compiled binaries:
/dist/


##
## GO
##
# Binaries for programs and plugins:
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`.
*.test

# Output of the go coverage tool, specifically when used with LiteIDE.
*.out

# Vendored packages.
vendor/


##
## IDE
##
# VSCode (keeping workspace configurations):
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
#!.vscode/settings.json
#!.vscode/launch.json

# IntelliJ:
.idea/


##
## SYS
##
# macOS:
.DS_Store
.DS_Store?
*.swp

# Windows:
Thumbs.db
